body{
    background-image: url('https://th.bing.com/th/id/R.2a85f640c8c8982a55654dcb1e8e1837?rik=f7ia%2bhbY01Yz1Q&pid=ImgRaw&r=0');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: large;
}
#main-container{
    width: auto 0;
    margin: 0 3px;
    text-align: center;
    font-size: larger;
}
form{
    background-color: antiquewhite palegoldenrod;
    text-align: center;
    opacity: 1;
    color: brown;
}
#info{
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    margin: 13px auto;
    text-decoration: underline;
    padding: 10px 0;
}
.title{
    color: #FFA732;
}
button{
    width: 100px;
    border: 0px;
    background-color: chartreuse;
    height: 24px;
    border-radius: 6px;
    margin: 5px 19px;
}
#reset{
    background-color: red;
    color: aliceblue;
}
input,select{
    text-align: center;
    border-radius: 6px;
}
#result{
    color: aliceblue;
    display: none;
    background-color: darkgreen 0.5;
}

